.footer footer{
  background: black;
  color: white;
}
 body{
   background: #ff1416;
   font-style: italic;
 }

.contact{
  border-radius: 10px;
}

header{
  background-color: white;
  color: green;
}

section{
  font-size-adjust: auto;
}
